<div class="row">
  <div class="d-flex justify-content-between pb-3">
    <h1 class="h2">Añadidir falta de asistencia</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 formulario">
    <form [formGroup]="falta" (ngSubmit)="onSubmit()" class="row">
      <div class="mb-3 col-12 col-sm-6">
        <label for="f_ausencia" class="form-label"><strong>Fecha de ausencia</strong></label>
        <input type="date" formControlName="f_ausencia" class="form-control" id="f_ausencia">
        <div *ngIf="submitted && formulario['f_ausencia'].errors">
          <div *ngIf="formulario['f_ausencia'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha de entrega no puede estar
            vacía.
          </div>
          <div *ngIf="formulario['f_ausencia'].errors['mayorQueHoy']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha tiene que ser igual o
            mayor que hoy.
          </div>
        </div>
      </div>
      <div class="mb-3 col-12 col-sm-6">
        <label for="motivo" class="form-label"><strong>Motivo</strong></label>
        <input type="text" formControlName="motivo" class="form-control" id="motivo">
        <div *ngIf="submitted && formulario['motivo'].errors">
          <div *ngIf="formulario['motivo'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El motivo no puede estar
            vacío.
          </div>
          <div *ngIf="formulario['motivo'].errors['minlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">Mínimo 5 carácteres.
          </div>
          <div *ngIf="formulario['motivo'].errors['maxlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">Máximo 50 carácteres.
          </div>
        </div>
      </div>
      <div class="mb-1 col-12 border border-2 border-dark rounded" formArrayName="ausencias"
        *ngFor="let ausencia of ausencias.controls; let i = index">
        <h2 class="h4"><strong>Ausencia</strong></h2>
        <div class="row mb-2" [formGroupName]="i">
          <div class="col-12 col-sm-4">
            <div class="row">
              <div class="col-4">
                <label [attr.for]="'hora' + i" class="pr-3"><strong>Hora:</strong></label>
              </div>
              <div class="col-8">
                <select [attr.id]="'hora' + i" formControlName="hora" class="form-select">
                  <ng-container *ngFor="let hora of horas">
                    <option *ngIf="!showHora(hora) || ausencias.controls[i].get('hora')?.value == hora" [value]="hora">{{hora}}</option>
                  </ng-container>
                </select>
              </div>
              <div *ngIf="submitted && ausencias.controls[i].get('hora')?.errors?.['required']">
                <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                  Tienes que elegir una hora.
                </div>
              </div>
              <div class="col-4">
                <label [attr.for]="'aula' + i" class="pr-3"><strong>Aula:</strong></label>
              </div>
              <div class="col-8">
                <select [attr.id]="'aula' + i" formControlName="aula" class="form-select">
                  <option *ngFor="let aula of aulas" [value]="aula.nombre">{{aula.nombre}}</option>
                </select>
              </div>
              <div *ngIf="submitted && ausencias.controls[i].get('aula')?.errors?.['required']">
                <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                  Tienes que elegir una aula.
                </div>
              </div>
              <div class="col-4">
                <label [attr.for]="'grupo' + i" class="pr-3"><strong>Grupo:</strong></label>
              </div>
              <div class="col-8">
                <select [attr.id]="'grupo' + i" formControlName="grupo" class="form-select">
                  <option *ngFor="let grupo of grupos" [value]="grupo.nombre">{{grupo.nombre}}</option>
                </select>
              </div>
              <div *ngIf="submitted && ausencias.controls[i].get('grupo')?.errors?.['required']">
                <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                  Tienes que elegir un grupo.
                </div>
              </div>
              <div class="col-4">
                <label [attr.for]="'profesor' + i" class="pr-3"><strong>Profesor:</strong></label>
              </div>
              <div class="col-8">
                <select [attr.id]="'profesor' + i" formControlName="profesor" class="form-select">
                  <option *ngFor="let profesor of profesores" [value]="profesor.email">{{profesor.nombre}} {{profesor.apellidos}}</option>
                </select>
              </div>
              <div *ngIf="submitted && ausencias.controls[i].get('profesor')?.errors?.['required']">
                <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                  Tienes que elegir un profesor.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-8">
            <label [attr.for]="'actividades' + i" class="pr-3"><strong>Actividades:</strong></label>
            <textarea class="form-control" formControlName="actividades" name="actividades2"
              [attr.id]="'actividades' + i" rows="4">
            </textarea>
            <div *ngIf="submitted && ausencias.controls[i].get('actividades')?.errors?.['required']">
              <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                Tienes que poner una actividad.
              </div>
            </div>
            <div *ngIf="submitted && ausencias.controls[i].get('actividades')?.errors?.['minlength']">
              <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                Mínimo 5 carácteres.
              </div>
            </div>
            <div *ngIf="submitted && ausencias.controls[i].get('actividades')?.errors?.['maxlength']">
              <div class="h6 text-danger bg-white rounded border border-2 border-danger p-2">
                Máximo 250 carácteres.
              </div>
            </div>
          </div>
        </div>
        <button type="button" *ngIf="formularios > 1" (click)="deleteAusencia(i)" class="btn btn-danger col-6 col-sm-3 mb-2">Quitar
          ausencia
        </button>
      </div>
      <button type="button" *ngIf="formularios < 6" (click)="addAusencia()" class="btn btn-success col-6 col-sm-3 mb-2">Añadir
        ausencia
      </button>
      <button type="submit" class="btn btn-primary" value="Registro">Añadir falta</button>
    </form>
  </div>
</div>
