<header class="sticky-top flex-md-nowrap p-0 text-light user-select-none bg-success">
  <div class="d-flex bd-highlight align-items-center">
    <div class="me-auto p-2">
      <a>
        <img class="mano" (click)="irInicio()" height="50" src="{{imgLogo}}" alt="Logo de la página">
      </a>
    </div>
    <div>
      {{usuario?.nombre}}
    </div>
    <div class="p-2">
      <div class="text-end ps-3">
        <div class="dropdown text-end">
          <a routerLink="usuario/editar-perfil" class="d-block link-light text-decoration-none" aria-expanded="false">
            <img src="https://picsum.photos/200" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
