//Colores de la paleta
$dark: #09192b;
$light: #e5ebf2;
$primary: #476b92;
$secondary: #6ECCAF;
$info: #ADE792;
$bg: #F3ECB0;
$warning: #7b4c09;
$success: #295b29;
$danger: #af130d;

//Colores para las píldoras de navegación
$nav-pills-link-active-bg: $primary;

//Color de fondo de las tablas
$table-bg: white;
$table-bg-scale: 0%;
