<div class="card">
    <div class="modal-header">
      <h1 class="modal-title">Edición de usuarios</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="col-12 modal-body">
      <form [formGroup]="datosUsuario" novalidate="" (ngSubmit)="onSubmit()" class="row">
        <div class="mb-3 col-12 col-sm-6">
          <label for="email" class="form-label"><b>Email</b></label>
          <input type="email" formControlName="email" class="form-control" id="email">
          <div *ngIf="submitted && formulario['email'].errors">
            <div *ngIf="formulario['email'].errors['required']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El email no puede estar vacío.
            </div>
            <div *ngIf="formulario['email'].errors['email']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El email introducido no tiene un
              formato válido.</div>
          </div>
        </div>
        <div class="mb-3 col-12 col-sm-6">
          <label for="nombre" class="form-label"><b>Nombre</b></label>
          <input type="text" formControlName="nombre" class="form-control" id="nombre">
          <div *ngIf="submitted && formulario['nombre'].errors">
            <div *ngIf="formulario['nombre'].errors['required']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El nombre no puede estar vacío.
            </div>
            <div *ngIf="formulario['nombre'].errors['minlength']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El nombre tiene que tener al menos
              3 carácteres.</div>
            <div *ngIf="formulario['nombre'].errors['maxlength']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El nombre puede tener como máximo
              20 carácteres.</div>
          </div>
        </div>
        <div class="mb-3 col-12 col-sm-6">
          <label for="nombre" class="form-label"><b>Apellidos</b></label>
          <input type="text" formControlName="apellidos" class="form-control" id="nombre">
          <div *ngIf="submitted && formulario['apellidos'].errors">
            <div *ngIf="formulario['apellidos'].errors['required']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El dni no puede estar vacío.
            </div>
            <div *ngIf="formulario['apellidos'].errors['minlength']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El dni tiene que tener al menos
              9 carácteres.</div>
            <div *ngIf="formulario['apellidos'].errors['maxlength']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">El dni puede tener como máximo
              9 carácteres.</div>
          </div>
        </div>
        <div class="mb-3 col-12">
          <p class="form-label"><b>Roles</b></p>
          <div class="col pb-2 d-flex justify-content-between" id="rolesUsuario">
            <label for="cbox1"><input type="checkbox" value="1" id="cbox1" (change)="onCheckboxChange($event)">
              Administrador</label>
            <label for="cbox2"><input type="checkbox" value="2" id="cbox2" (change)="onCheckboxChange($event)">
              Jefe</label>
            <label for="cbox3"><input type="checkbox" value="3" id="cbox3" (change)="onCheckboxChange($event)">
              Usuario</label>
          </div>
          <div *ngIf="submitted && formulario['checkArray'].errors">
            <div *ngIf="formulario['checkArray'].errors['required']"
              class="h6 text-danger bg-white rounded border border-2 border-danger p-2">Tiene que tener al menos un rol.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Registro">Modificar usuario</button>
      </form>
    </div>
  </div>
