<div class="row">
    <div class="d-flex justify-content-between pb-3">
      <h1 class="h2">Editar horario</h1>
    </div>
  </div>
  <div class="row" *ngIf="formularioConstruido == true">
    <div class="col-12 formulario">
      <form [formGroup]="registro" (ngSubmit)="onSubmit()" class="row">
        <div class="col-12">
          <table class="table table-striped table-bordered row-border hover text-center table-hover bg-white">
            <thead class="table-danger text-black">
              <tr>
                <th scope="col">Horario</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Primera</th>
                <td>
                  <select class="form-select" formControlName="l1">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Primera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m1">
                    <option *ngFor="let g of grupos" [value]="'Martes|Primera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x1">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Primera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j1">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Primera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v1">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Primera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Segunda</th>
                <td>
                  <select class="form-select" formControlName="l2">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Segunda|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m2">
                    <option *ngFor="let g of grupos" [value]="'Martes|Segunda|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x2">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Segunda|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j2">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Segunda|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v2">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Segunda|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Tercera</th>
                <td>
                  <select class="form-select" formControlName="l3">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Tercera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m3">
                    <option *ngFor="let g of grupos" [value]="'Martes|Tercera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x3">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Tercera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j3">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Tercera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v3">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Tercera|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Cuarta</th>
                <td>
                  <select class="form-select" formControlName="l4">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Cuarta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m4">
                    <option *ngFor="let g of grupos" [value]="'Martes|Cuarta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x4">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Cuarta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j4">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Cuarta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v4">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Cuarta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Quinta</th>
                <td>
                  <select class="form-select" formControlName="l5">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Quinta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m5">
                    <option *ngFor="let g of grupos" [value]="'Martes|Quinta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x5">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Quinta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j5">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Quinta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v5">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Quinta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Sexta</th>
                <td>
                  <select class="form-select" formControlName="l6">
                    <option *ngFor="let g of grupos" [value]="'Lunes|Sexta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="m6">
                    <option *ngFor="let g of grupos" [value]="'Martes|Sexta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="x6">
                    <option *ngFor="let g of grupos" [value]="'Miercoles|Sexta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="j6">
                    <option *ngFor="let g of grupos" [value]="'Jueves|Sexta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" formControlName="v6">
                    <option *ngFor="let g of grupos" [value]="'Viernes|Sexta|' + g.nombre">{{g.nombre}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary" value="Registro">Editar horario</button>
      </form>
    </div>
  </div>
